div {
    border: 1px solid black;
}

.inner-row {
    border: none;
    flex: 1;
    display: flex;
    flex-direction: column;
}

#grid-container {
    margin: auto;
    display: flex;
    flex-direction: row;
    border: none;
    width: 600px;
    height: 600px;
    align-items: stretch;
}

.innerSquare {
    /* height: 20px; */
    /* width: auto; */
    margin: 1px;
    flex: 1;

}

.hovered {
    background-color: black;
}

body {
    text-align: center;
}